<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="">
    <div><h2 class="container text-center">Owner Of These Photos <q>{{user}}</q></h2></div>

    <div class="row">
        {% for i in photo%}
         <div class="col-sm-3 bg-secondary">
             <div class="card m-4">
                <img src="{{i.image.url}}" class="card-img-top img-fluid img-thumbnail">
                    <div class="card-footer">
                        <p class="text-muted">{{i.Posted_on}}</p>
                        <div class="">
                            <p class="text-muted text-right"> by <b>{{user}}</b></p>
                    </div>
                    </div>
            </div>

             <button class="btn bg-success text-right"><a class="text-white" href="{% url 'updatephoto' i.id %}">Replace</a></button>

             <button class="btn bg-danger text-right"><a class="text-white" href="{% url 'deletephoto' i.id %}">Delete</a></button>
         </div>
        <br>
        {% endfor %}
    </div>

</body>
</html>